@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  font-feature-settings: "liga" 1, "kern" 1;
}

body {
  @apply bg-slate-950 text-slate-100 antialiased;
}

a {
  @apply text-brand-300 transition-colors hover:text-brand-200;
}
